.layer {
	position: absolute;
	image-rendering: -moz-crisp-edges;
	image-rendering: -webkit-crisp-edges;
	image-rendering: pixelated;
	image-rendering: crisp-edges;
}

/* Specific layers */

.layer#crosshair {mix-blend-mode: difference}

.layer#container, .layer#menu {
	background-color: rgba(0, 0, 0, .7);
	z-index: 1;
}