body {
	margin: 0;
	overflow: hidden;
	background-color: #312646;
}

.layer {
	position: absolute;
	image-rendering: -moz-crisp-edges;
	image-rendering: -webkit-crisp-edges;
	image-rendering: pixelated;
	image-rendering: crisp-edges;
}

.layer.crosshair {
	mix-blend-mode: difference;
	pointer-events: none;
}

#flowing-item {
	position: absolute;
	z-index: 1;
}

.layer.debug, .layer.flowing-item {
	pointer-events: none;
}

.layer.inventory, .layer.pause {
	background-color: #000000C2;
}