@font-face {
	font-family: minecraft_regular;
	src: url(../textures/font/regular.otf) format("opentype");
}

@font-face {
	font-family: minecraft_regular_italic;
	src: url(../textures/font/regular_italic.otf) format("opentype");
}

@font-face {
	font-family: minecraft_bold;
	src: url(../textures/font/bold.otf) format("opentype");
}

@font-face {
	font-family: minecraft_bold_italic;
	src: url(../textures/font/bold_italic.otf) format("opentype");
}

body {
	margin: 0;
	overflow: hidden;
	text-rendering: optimizeLegibility;
	font-family: minecraft_regular;
	font-size: 20px;
}

#debug {
	padding: 0 4px;
	top: 0;
	left: 0;
	position: absolute;
	background-color: rgba(0, 0, 0, .5);
	color: #FFF;
}